<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css" />
</head>
<body>
<header th:fragment="header">Root to Rise Botanicals</header>
<footer th:fragment="footer">
    <div>
        <span id="dateMark"></span>
        <span><a class="link milt-green" href="#" target="_blank">Privacy Policy and Terms of Use</a></span>
    </div>
    <span>Site by 🧙 <a class="link milt-green" href="http://dangroleau.fullstackdan.com" target="_blank">Dan Groleau</a></span>
    <script type="text/javascript">
        document.getElementById("dateMark").innerText = new Date().getFullYear() + " Root to Rise Botanicals, LLC.";
    </script>
</footer>
</body>
</html>