<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css" />
</head>
<body>
    <main>
        <div th:replace="fragment/layout :: 'header'"></div>
        <section class="forgot-password__form">
            <h1 class="dark-green">Forgot Password</h1>
            <p class="forgot-password__instruction"  th:unless="${param.success}">Enter your email address below and we'll send you a link to reset your password.</p>
            <p class="forgot-password__instruction" th:if="${param.success}">A password reset link has been sent to the email provided. Please check your spam or junk folder if you do not see the email.</p>
            <span class="error" th:if="${#fields.hasErrors('global')}" th:text="${err}" th:each="err : ${#fields.errors('global')}" />
            <form action="#" th:action="@{/user/send-reset-password-link}" th:object="${forgotPasswordViewModel}" method="post">
                <div class="form__field">
                    <label class="form__label" for="email">Email</label>
                    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <input class="form__input" id="email" type="text" name="email" th:field="*{email}" placeholder="Email"/>
                </div>
                <div class="forgot-password__actions">
                    <button class="btn dark-green" type="submit">Send Reset Link</button>
                    <h2 class="forgot-password__link">Have an account? <a th:href="@{/login}" class="dark-green">Log In</a></h2>
                    <h2 class="forgot-password__link">Don't have an account yet? <a th:href="@{/user/sign-up}" class="dark-green">Sign Up</a></h2>
                </div>
            </form>
        </section>
        <div th:replace="fragment/layout :: 'footer'"></div>
    </main>
</body>
</html>