<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reset Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/app.css}" type="text/css" />
</head>
<body>
<main>
  <div th:replace="fragment/layout :: 'header'"></div>
  <section class="reset-password__form">
    <h1 class="dark-green">Reset Your Password</h1>
    <p th:class="${session.isValid} ? 'success' : 'error'" th:text="${session.message}" class="reset-password__message"/>
    <span class="error" th:if="${#fields.hasErrors('global')}" th:text="${err}" th:each="err : ${#fields.errors('global')}" />
    <form th:if="${session.isValid}" action="#" th:action="@{/user/reset-password}" th:object="${resetPasswordViewModel}" method="post">
      <div class="form__field">
        <label class="form__label" for="newPassword">New Password</label>
        <span class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
        <input class="form__input" autocomplete="new-password" type="password" th:field="*{newPassword}" id="newPassword" placeholder="Enter your new password">
      </div>
      <div class="form__field">
        <label class="form__label" for="confirmNewPassword">Confirm New Password</label>
        <span class="error" th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"></span>
        <input class="form__input" autocomplete="new-password" type="password" th:field="*{confirmNewPassword}" id="confirmNewPassword" placeholder="Confirm your new password">
      </div>
      <div class="reset-password__button">
        <input type="hidden" th:value="${resetPasswordViewModel.userId}" name="userId" />
        <button class="btn dark-green" type="submit">Reset Password</button>
      </div>
    </form>
    <div class="reset-password__actions">
      <h2 class="reset-password__link">Have an account? <a th:href="@{/login}" class="dark-green">Log In</a></h2>
      <h2 class="reset-password__link">Don't have an account yet? <a th:href="@{/sign-up}" class="dark-green">Sign Up</a></h2>
    </div>
  </section>
  <div th:replace="fragment/layout :: 'footer'"></div>
</main>
</body>
</html>